@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-5">
    <div class="text-center">
        <h2 class="mb-4">Welcome to the Student Assignment Portal</h2>

        
    </div>

    </div>
@section Scripts {
    <partial name="_ToastrMessage" />
}